
Regression/.idea/workspace.xml

Regression/.idea/workspace.xml

GenerativeLearning/.idea/encodings.xml

GenerativeLearning/.idea/.name

*.iml

*.xml

*.pyc

*.py

Regression/GradientD.py

Regression/hw1.zip

Regression/__pycache__/computeCost.cpython-35.pyc
